<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmplus.springbootBoard.mapper.BoardRepository">
    <!-- 인서트에 필요한 컬럼 변수 -->
    <sql id="boardCloumns">
    	board_title
      , board_content
      , writer
      , count
      , enroll_date
      , status
    </sql>
    
    <select id="selectList" resultType="Board">
        select * 
        from board
        where status='Y'
        order by board_no desc
    </select>
    
    <insert id="insertBoard" parameterType="Board">
    	insert into board(
    	<include refid="boardCloumns"/>
    	)
    	values(
    	#{boardTitle}
      , #{boardContent}
      , "관리자"
      , default
      , default
      , default
    	)
    </insert>
</mapper>